@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Mono';
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}